
.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10%;
    padding-top: 27vh;
}

h1{
    display: block ruby;
    word-spacing: 3px;
    font-size: 40px;
    color: #0e1111;
}
h2{
    word-spacing: 3px; 
    color: #0e1111;
}

p{
    word-spacing: 3px;
    font-weight: 300;
    font-size:20px;
    color: #0e1111;
}

h1, h2, p {
    margin: 10px;
}