.picture-container {
    display: flex;
    margin-left: 10%;
    margin-right: 5%;
    background:url('pic2.jpg');
    height: 85vh;
    width: -moz-available;    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: drop-shadow(20px 20px 5px #0e1111);
    /* margin-top: 5px; */

}