.navbar {
    display: flex;
    flex-direction: inherit;
    font-weight: bolder;
    list-style-type: none;
    justify-content: right;   
    margin-right: 5%;
}

li{
    letter-spacing: 2px;
    padding: 25px;
    color: #0e1111;
}